*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-image: url("https://cdn.wallpapersafari.com/67/97/Q29Vys.jpg");
  font-family: 'Baloo Thambi 2', cursive;
}
.login-form{
    background: #fff;
    max-width: 350px;
    margin:40px auto;
    box-shadow: 2px 2px 10px #cecece;
    padding:30px;
}
.login-form h1{
    text-align: center;
}
.login-form p{
    text-align: center;
}
.login-form .form-group{
    padding: 12px 5px;
}
.login-form .form-group input{
font-size: 15px;
display: block;
width: 100%;
padding: 10px 5px;
border: 0;
border-bottom: 1px solid #656565;
outline: none;
transition: all 0.2s;
}
.login-form .login-form input:placeholder{
    text-transform: uppercase;
}
.login-form .form-group input:focus{
    border-color: #bababa;
}
.login-form .login-btn button{
    width: 100%;
    border:none;
    padding: 14px;
    text-transform: uppercase;
    background: #7D1935;
    color: teal;
    transition: 0.3s linear all;
    cursor: pointer;
    margin-top: 20px;
}
.login-form .login-btn button:hover{
    background: #B42B51;

}
.forget{
    text-decoration: none;
    color:#585858;

}
.reg{
    text-align: center;
    margin-top: 8px;
    font-size: 13px;
}
.reg a{
    text-transform: capitalize;
}
